<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348255442043-qh0pdfkfnfs4gh6uq8qdslslga829s75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348255442043-qh0pdfkfnfs4gh6uq8qdslslga829s75</string>
	<key>API_KEY</key>
	<string>AIzaSyArm1kG_2Z3zH7WpEoN90plphQDV2CrwVw</string>
	<key>GCM_SENDER_ID</key>
	<string>348255442043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>groceryapp-1a911</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryapp-1a911.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348255442043:ios:5b1711fe5f0a0cdbc87ede</string>
</dict>
</plist>